* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #a6a6a6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

#drum-machine {
    background-color: #cccccc;
    display: grid;
    grid: 1fr / 1fr 1fr;
    min-height: 350px;
    max-width: 600px;
    border: 3px solid black;
}

#display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-wrapper {
    width: 200px;
    min-height: 50px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    padding: 4px;
    border-radius: 3px;
}

.buttons {
    display: grid;
    grid: repeat(3, 60px) / repeat(3, 75px);
    grid-gap: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.drum-pad {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px #666666
}

.drum-pad:active {
    background-color: yellow;
}

@media only screen and (max-width: 720px) {
    #drum-machine{
        grid: 1fr 1fr / 1fr;     
        height: auto;
    }
}